{% extends "base.html" %}

{% block content %}
<p style="margin: 120px;"></p>
   
    <form action="{% url 'register' %}" method="post">
    <div class="form-error">{{ form.non_field_errors }}</div>
    <h1>Регистрация</h1>
    {% csrf_token %}
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    
    <button class="submit">Регистрация</button>
    </form>
{% endblock %}