{% extends "base.html" %}

{% block content %}
<style>
    .h3 {
    font-family:  monospace;
    }
    .top {
        margin-top: 125px;
    }

</style>


<div class="top">
<center>
<h1 style="color:rgb(14, 14, 44);">Контактная информация</h1>
<h3 class="h3">Данный сайт является тестовым. 
    Все элементы сайта 
    имеют только индивидуальную применимость. 
    Доработка сайта ведется по настояшее время.
    Если есть вопросы-звоните по номеру телефона:
    8(968) 625-55-81:
    Email Crashroma2009@yandex.ru
</h3>
</center>
</div>

{% endblock %}