{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='shortcut icon' href="{% static 'images/share_yt.png' %}" type="image/x-icon"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тут должно быть что-то одинаковое для всех страниц</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">IT Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
          
              {% csrf_token %}
              {% if request.user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create_resume">Добавить резюме</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/additional_information">Справочная информация</a>
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/additional_information">Справочная информация</a>
            </li>
          </ul>
            {% endif %}
          <form class="form-inline mt-2 mt-md-0">
            {% csrf_token %}
            {% if request.user.is_authenticated %}
            
            <a class="nav-link" href="account/logout">Выйти</a>
            <ul>
              <li class="nav-link disabled"> {{ user.username }} | <a href="{% url 'user_home' %}">Личный кабинет</a></li>
            </ul>
            {% else %}
            <a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
            <a class="nav-link" href="account/login">Войти</a>
            <a class="nav-link" href="/admin">Войти как администратор</a>
            {% endif %}
          </form>
        <form class='form-signin' action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <div class="container mt-0">
                <h3>
                <input class="form-control mr-sm-4" type="text" placeholder="Имя, Фамилия, Сфера деятельности" aria-label="Search" name='data_search'>
                <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Поиск</button>
                </h3>
            </div>
        </form>
        </div>
      </nav>
    </header>
    {% block content %}{% endblock %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
      <p align="center">Author: Deynega Roman<br>
      <a href="mailto:Crashroma2009@yandex.ru">Crashroma2009@yandex.ru</a></p>
      <link rel='shortcut icon' href="{% static 'images/share_yt.png' %}" type="image/x-icon"/>
    </footer>
</body>
</html>
    



