{% extends "base.html"%}

{% block content %}
<style>
    body {
        background-color: #c3ddf1;
    }
    h1 {
      color: black;
      text-align: center;
    }
    del {
        width: 40%;
        max-width: 560px;
        margin: 15px auto;
    }
</style>

<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none"></a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-dark text-decoration-none" href="#"></a>
    <a class="py-2 text-dark text-decoration-none" href="#"></a>
    </nav>
</div>
<h1></h1><br>
<h1></h1><br>
<style>
    h1, h3 {
        margin-left: 100px;
        margin-right: 100px;
    }
</style>
<h1>{{ resume.first_name }} {{ resume.last_name }}</h1>
<h3>{{ resume.text }}</h3>
</div>
<a href="{% url 'index' %}" class="btn btn-primary"> Вернуться назад </a>
<del class="container mt-4">
<div class='form-signin' action="#" method="post">
{% csrf_token %}
</div>
</del>
</form>
{% endblock %}


    
    
  